## Ignore Matlab autosave files
*.m~

## Ignore my todo list.
AustinTODO.txt
AustinTODO.md

## Ignore this folder of pictures
PrecipRunoff/RainEvents/RainEventFigures/MiscPictures/*.jpg

## Ignore the miscellaneous folder
Misc/*
